<ion-view title="App Diabetes" id="page1"  >

    <ion-content padding="false" class="has-header" >

        <div class="home"><img src="img/diabetes.jpg" /></div>

    </ion-content>


</ion-view>
<div class="bar bar-footer" style="height: 60px border: none;">
    <div class="pie">SANATORIO COLEGIALES<br />RESIDENCIA CARDIOLOGIA</div>
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128271616-9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128271616-9');
</script>
