<ion-side-menus enable-menu-with-back-views="true"  expose-aside-when="(min-width:800px)">

    <ion-side-menu-content enable-menu-with-back-views="true" ng-controller="ProtectedController2">
        <ion-nav-bar class="bar-stable bar-calm">
            <ion-nav-back-button></ion-nav-back-button>

            <ion-nav-buttons side="right" >
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>

        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" id="side-menu21" expose-aside-when="large" ng-controller="ProtectedController">
        <div class="contenedor-logos">
            <div class="spacer" style="width: 300px; height: 45px;"></div>
            <div id="logo-login"><img src="img/logo-login.png"></div>
            <div id="logo-login"><img src="img/logo-cardiologia-login.png"></div>
        </div>
        <ion-content padding="false" class="side-menu-left has-header separacion">
            <ion-list id="menu-null">

                <div class="contenedor-calc">
                    <a ui-sref="menu.01" menu-close=""><div class="calculadora-menu cal-1">Diagnóstico. Gestión integral</div></a>
                    <a ui-sref="menu.02-01" menu-close=""><div class="calculadora-menu cal-2">Objetivos y control global</div></a>
                    <a ui-sref="menu.03-01" menu-close=""><div class="calculadora-menu cal-3">Tratamiento antidiabético</div></a>
                    <a ui-sref="menu.04-01" menu-close=""><div class="calculadora-menu cal-4">Situaciones especiales</div></a>
                    <button class="button button-small icon-left ion-ios-refresh button-assertive" ng-controller="resetTodo" ng-click="showReset()"> LIMPIAR DATOS </button>
                </div>
                
                <div class="spacer" style="width: 300px; height: 15px;"></div>

                <ion-item id="menu-list-item1 " ui-sref="menu.presentacion" menu-close="" class="item-icon-left item-icon-right"><i class="icon ion-ios-copy-outline"></i> Acerca de DIABETapp <i class="icon ion-ios-arrow-right"></i></ion-item>
                <ion-item id="menu-list-item1 " ui-sref="menu.abreviaturas" menu-close="" class="item-icon-left item-icon-right"><i class="icon ion-ios-paper-outline"></i> Abreviaturas <i class="icon ion-ios-arrow-right"></i></ion-item>

                <div class="item item-divider"></div>
                <ion-item id="menu-list-item3 " ui-sref="cerrar" menu-close="" class="item-icon-left"><i class="icon ion-log-out"></i> Cerrar sesión</ion-item>          
            </ion-list>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>