<ion-side-menus enable-menu-with-back-views="true"  expose-aside-when="(min-width:800px)">

    <ion-side-menu-content enable-menu-with-back-views="true" ng-controller="ProtectedController2">
        <ion-nav-bar class="bar-stable bar-calm">
            <ion-nav-back-button></ion-nav-back-button>

            <ion-nav-buttons side="right" >
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>

        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21" expose-aside-when="large" ng-controller="ProtectedController">
        <a href="https://dbt.iamcest.com/www/index.html">
            <div class="contenedor-logos">
            <div class="spacer" style="width: 300px; height: 45px;"></div>
            <div id="logo-login"><img src="img/logo.jpg" width="25%" /></div>
            <div align="center">App Diabetes</div>
        </a>
        </div>
        <ion-content padding="false" class="side-menu-left has-header separacion">
            <ion-list id="menu-null">

                <div class="contenedor-calc">
                    <a ui-sref="menu.01" menu-close=""><div class="calculadora-menu cal-1">Diagnóstico. Gestión integral</div></a>
                    <a ui-sref="menu.02-01" menu-close=""><div class="calculadora-menu cal-2">Objetivos y control global</div></a>
                    <a ui-sref="menu.03-01" menu-close=""><div class="calculadora-menu cal-3">Tratamiento</div></a>
                    <a ui-sref="menu.04-01" menu-close=""><div class="calculadora-menu cal-4">Situaciones especiales</div></a>
                    <button class="button button-small icon-left ion-ios-refresh button-assertive" ng-controller="resetTodo" ng-click="showReset()"> LIMPIAR DATOS </button>
                </div>
            </ion-list>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>
