

<ion-view title="Acerca de DIABETapp" id="page7">

    <div class="bar bar-subheader cal-4">
        <h2 class="title negro">Bibliografía Situaciones especiales</h2>
    </div>

    <ion-content padding="false" class="has-header" >
        <div class="spacer" style="width: 300px; height: 40px;"></div>

        <div style="padding: 20px;" class="bibliografia">
            <ol>
                <li >Ryd&eacute;n L, Grant PJ, Anker SD, Berne C, Cosentino F, Danchin N, et al. ESC Guidelines on diabetes, pre-diabetes, and cardiovascular diseases developed in collaboration with the EASD. The Task Force on diabetes, pre-diabetes, and cardiovascular diseases of the European Society of Cardiology (ESC) and developed in collaboration with the European Association for the Study of Diabetes (EASD). Eur Heart J 2013;34:3035-87.&nbsp;</li>
                <li >Castro A, Marzal D, Tejera C, Dalmau R, Garc&iacute;a-Moll X, G&oacute;mez-Doblas JJ, et al. Actualizaci&oacute;n del tratamiento antidiab&eacute;tico en el paciente con enfermedad cardiovascular. 1.&ordf; ed. Sociedad Espa&ntilde;ola de Cardiolog&iacute;a; 2016.</li>
                <li >Marzal D, L&oacute;pez-Send&oacute;n JL, Rodr&iacute;guez-Padial L, Anguita M, Bover R, Castro A, et al. Proceso asistencial simplificado de la insuficiencia cardiaca. 1.&ordf; ed. Madrid (Espa&ntilde;a): Sociedad Espa&ntilde;ola de Cardiolog&iacute;a; 2016.</li>
                <li >Garber AJ, Abrahamson MJ, Barzilay JI, Blonde L, Bloomgarden ZT, Bush MA, et al. Consensus Statement By The American Association Of Clinical Endocrinologists And American College Of Endocrinology On The Comprehensive Type 2 Diabetes Management Algorithm - 2017 Executive Summary. Endocr Pract 2017;23:207-38.&nbsp;</li>
                <li >Ponikowski P, Voors AA, Anker SD, Bueno H, Cleland JG, Coats AJ, et al. 2016 ESC Guidelines for the diagnosis and treatment of acute and chronic heart failure: The Task Force for the diagnosis and treatment of acute and chronic heart failure of the European Society of Cardiology (ESC). Developed with the special contribution of the Heart Failure Association (HFA) of the ESC. Eur Heart J 2016;37:2129-200.&nbsp;</li>
                <li >American Diabetes Association. Standards of Medical Care in Diabetes 2017. Diabetes Care 2017;40(Suppl 1):1-135.</li>
                <li >Gómez-Huelgas R, Martínez-Castelao A, Artola S, Górriz JL, Menéndez E, en nombre del Grupo de Trabajo. Documento de Consenso sobre el tratamiento de la diabetes tipo 2 en el paciente con enfermedad renal crónica. Nefrologia 2014;34(1):34-45.</li>
                <li >KDIGO 2012 clinical practice guideline for the evaluation and management of chronic kidney disease. Chapter 1: Definition and classification of CKD. Kidney Int Suppl 2013;3:19-62.&nbsp;</li>
                <li >Stacul F, van der Molen AJ, Reimer P, Webb JA, Thomsen HS, Morcos SK, et al.; Contrast Media Safety Committee of European Society of Urogenital Radiology (ESUR). Contrast induced nephropathy: updated ESUR Contrast Media Safety Committee guidelines. Eur Radiol 2011;21:2527-41.</li>
                <li >American College of Radiologist. Committee on Drugs and Contrast Media. ACR Manual on Contrast Media. Versi&oacute;n 10.2 (2016). Disponible en: <span class="s1">http://</span>www.acr.org/quality-safety/resources/contrast-manual</li>
                <li >Umpierrez GE, Isaacs SD, Bazargan N, You X, Thaler LM, Kitabchi AE. Hyperglycemia: an independent marker of in-hospital mortality in patients with undiagnosed diabetes. J Clin Endocrinol Metab 2002;87:978-82.</li>
                <li >Clement S, Braithwaite SS, Magee MF, Ahmann A, Smith EP, Schafer RG, et al. Management of diabetes and hyperglycemia in hospitals. Diabetes Care 2004;27:553-91.</li>
                <li >Umpierrez GE, Smiley D, Zisman A, Prieto LM, Palacio A, Ceron M, et al. Randomized study of basal-bolus insulin therapy in the inpatient management of patients with type 2 diabetes (RABBIT 2 trial). Diabetes Care 2007;30:2181-<span class="s3">6.&nbsp;</span></li>
                <li >Umpierrez GE, Hellman R, Korytkowski MT, Kosiborod M, Maynard GA, Montori VM, et al. Management of hyperglycemia in hospitalized patients in non-critical care setting: an endocrine society clinical practice guideline. J Clin Endocrinol Metab 2012;97:16-38.</li>
                <li >Umpierrez GE, Smiley D, Jacobs S, Peng L, Temponi A, Mulligan P, et al. Randomized study of basal-bolus insulin therapy in the inpatient management of patients with type 2 diabetes undergoing general surgery (RABBIT 2 surgery). Diabetes Care 2011;34:256-61.</li>
                <li >Bell DS. Heart failure: the frequent, forgotten, and often fatal complication of diabetes. Diabetes Care 2003;26:2433-41.&nbsp;</li>
                <li >Seferović PM, Paulus WJ. Clinical diabetic cardiomyopathy: a two-faced disease with restrictive and dilated phenotypes. Eur Heart J 2015;36(27):1718-<span class="s3">27.</span></li>
                <li >Gilbert RE, Krum H. Heart failure in diabetes: effects of anti-hyperglycaemic drug therapy. Lancet 2015;385(9982):2107-17.</li>
                <li >May M, Schindler C. Clinically and pharmacologically relevant interactions of antidiabetic drugs. Ther Adv Endocrinol Metab 2016;7(2):69-83.&nbsp;</li>
                <li >Amin M, Suksomboon N. Pharmacotherapy of type 2 diabetes mellitus: an update on drug-drug interactions. Drug Saf 2014;37(11):903-19.</li>
            </ol>
        </div>

        <div class="spacer" style="width: 300px; height: 20px;"></div>

    </ion-content>


</ion-view>
