<ion-view title="Acerca de DIABETapp" id="presentacion">

    <div class="bar bar-subheader cal-4">
        <h2 class="title negro">Bibliografía</h2>
    </div>

    <ion-content padding="true" class="has-header" style="background-color:  #EEEEEE;">
        <div class="spacer" style="width: 300px; height: 40px;"></div>
        <div  style="margin: 0px;">

            <ion-item id="menu-list-item1 " ui-sref="menu.b1"  class="item-icon-right">Módulo Diagnóstico. Gestión integral <i class="icon ion-ios-arrow-right"></i></ion-item>
            <ion-item id="menu-list-item1 " ui-sref="menu.b2" class=" item-icon-right">Módulo Objetivos y control global<i class="icon ion-ios-arrow-right"></i></ion-item>
            <ion-item id="menu-list-item1 " ui-sref="menu.b3" class=" item-icon-right">Módulo Tratamiento antidiabético <i class="icon ion-ios-arrow-right"></i></ion-item>
            <ion-item id="menu-list-item1 " ui-sref="menu.b4" class=" item-icon-right">Módulo Situaciones especiales <i class="icon ion-ios-arrow-right"></i></ion-item>

        </div>
    </ion-content>
</ion-view>