

<ion-view title="Acerca de DIABETapp" id="page7">

    <div class="bar bar-subheader cal-4">
        <h2 class="title negro">Créditos</h2>
    </div>

    <ion-content padding="false" class="has-header" >
        <div class="spacer" style="width: 300px; height: 40px;"></div>

        <div style="padding: 20px; text-align: justify;">

            <div style="width: 100%; text-align: center; margin-top: 40px; margin-bottom: 20px;">Un proyecto de:</div>
            <div style="width: 100%; text-align: center;margin-bottom: 40px;"><img src="img/logo-creditos-cardiologia.png"></div>
            <div style="width: 100%; text-align: center; margin-bottom: 10px;">Con la colaboración de:</div>
            <div style="width: 100%; text-align: center;"><img src="img/logo-creditos-novartis.png"></div>


        </div>

        <div class="spacer" style="width: 300px; height: 20px;"></div>

    </ion-content>


</ion-view>
