

<ion-view title="Tratamiento antidiabético" id="page7">


    <ion-content padding="false" class="has-header" style="background-color:  #EEEEEE;">
        <div class="spacer" style="width: 300px; height: 20px;"></div>

        <div class="titulo-cal" style="text-align: center">Algoritmo terapéutico del paciente con diabetes mellitus tipo 2 y enfermedad cardiovascular</div>

        <div class="calculadora-menu cal-2" style="text-align: center">Estilo de vida (dieta, ejercicio físico, abstención tabáquica)<br>
            Control multifactorial (cLDL < 70 mg/dl y PA < 130-140/80-85 mmHg)<br>
            Revisión de la adherencia terapéutica y eventos de efectos perjudiciales de los antihiperglucemiantes en pacientes con tratamiento previo
        </div>

        <div class="card" style="margin: 10px;">
            <div class="item item-divider item-icon-left">
                <i class="icon ion-ios-help-outline"></i>
                Consultas
            </div>
            <div ng-click="" ui-sref="menu.02-01" class="item item-text-wrap titulacion">
                <i class="icon ion-android-checkmark-circle"></i> Objetivos y control global
            </div>
            <div ng-click="" ui-sref="menu.03-fig_3_5" class="item item-text-wrap titulacion">
                <i class="icon ion-android-checkmark-circle"></i> Manejo del paciente con sobrepeso/obesidad
            </div>
        </div>

        <div class="spacer" style="width: 300px; height: 0px;"></div>

        <div class="card" class="table-bordered">
            <div class="button-bar" style="padding: 10px;">
                <a  class="button button-calm button2"  ui-sref="menu.03-02">Debut</a>
            </div>
        </div>
        <div class="card" class="table-bordered">
            <div class="button-bar" style="padding: 10px;">
                <a  class="button button-calm button2"  ui-sref="menu.03-03-seg-1">Seguimiento</a>
            </div>
        </div>


    </ion-content>


</ion-view>
