

<ion-view title="Tratamiento antidiabético" id="page7">


    <ion-content padding="false" class="has-header" style="background-color:  #EEEEEE;" ng-controller="testCtrl">
        <div class="spacer" style="width: 300px; height: 20px;"></div>

        <div class="titulo-cal" style="text-align: center">Algoritmo terapéutico del paciente con diabetes mellitus tipo 2 y enfermedad cardiovascular</div>

        <div class="calculadora-menu cal-2" style="text-align: center">Debut</div>

        <div class="spacer" style="width: 300px; height: 0px;"></div>

        <div class="card">
            <div class="item item-divider " style="text-align: center !important;">
                HbA<sub>1C</sub> (%)
            </div>
            
            <table class="table table-bordered2" style="margin-bottom: 0px;">
                <tbody>
                    <tr>
                        <td style="text-align: center; background-color: #50BACC; color: white;">
                            <div>6,5-8,5</div>
                            <div style="margin-top: 20px;">
                                <label class="toggle toggle-calm">
                                    <input type="checkbox" ng-model="HbA_1"  ng-change="updateStorage(); figura_3_1_01(); recalcular(); figura_3_1_reset()">
                                    <div class="track">
                                        <div class="handle"></div>
                                    </div>
                                </label>
                            </div>
                        </td>
                        <td style="text-align: center; background-color: #007FA1; color: white;">
                            <div>8,6-10</div>
                            <div style="margin-top: 20px;">
                                <label class="toggle toggle-calm">
                                    <input type="checkbox" ng-model="HbA_2" ng-change="updateStorage(); figura_3_1_02(); recalcular(); figura_3_1_reset()">
                                    <div class="track">
                                        <div class="handle"></div>
                                    </div>
                                </label>
                            </div>
                        </td>
                        <td style="text-align: center; background-color: #35367E; color: white;">
                            <div>> 10</div>
                            <div style="margin-top: 20px;">
                                <label class="toggle toggle-calm">
                                    <input type="checkbox" ng-model="HbA_3" ng-change="updateStorage(); figura_3_1_03(); recalcular(); figura_3_1_reset()">
                                    <div class="track">
                                        <div class="handle"></div>
                                    </div>
                                </label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        
        <div class="card" class="table-bordered" ng-show="(HbA_1 == true || HbA_2 == true || HbA_3 == true)">
            <div class="button-bar" style="padding: 10px;">
                <a  class="button button-calm button2"  ui-sref="menu.03-02-1">Continuar</a>
            </div>
        </div> 


    </ion-content>


</ion-view>
