

<ion-view title="Diagnóstico. Gestión integral" id="page7">

    <ion-content padding="false" class="has-header">
      
        
        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <!-- 
        <div class="icono-consulta"><a ng-click="openModal()" class="button button-icon icon ion-help consulta"></a></div>
        -->


        <div class="contenedor-calc">
            <a ui-sref="menu.01-01"><div class="calculadora cal-1">Diagnóstico de la diabetes</div></a>
            <a ui-sref="menu.01-05"><div class="calculadora cal-2">Gestión integral de la diabetes y autocuidado</div></a>
        </div>


    </ion-content>


</ion-view>
