<ion-view title="Situaciones especiales" id="page6" ng-controller="testCtrl">

    <div class="bar bar-subheader cal-4">
        <h2 class="title blanco">Insuficiencia cardiaca</h2>
    </div>
    <ion-content padding="false" class="has-header" style="background-color:  #EEEEEE;" ng-controller="verControler">
        <div class="spacer" style="width: 300px; height: 60px;"></div>

        <div>
            <div class="titulo-cal" style="text-align: center">Sacubitrilo/valsartán para reemplazar IECA</div>

            <div class="card" ng-if="sacubitrilo1 != true && sacubitrilo2 != true">

                <div class="item item-avatar item-icon-left" style="text-align: left; background-color: #FFDC73;">
                    <i class="icon ion-ios-information-outline"></i>
                    <b>ATENCIÓN: Debes chequear las dosis y titulación de sacubitrilo/valsartán en el paso anterior antes de continuar.</b>
                </div>

                <div class="button-bar" style="padding: 10px;">
                    <a class="button button-calm button2" ui-sref="menu.2-icfer-03" >Volver</a>
                </div>
            </div>

            <div class="card" ng-if="sacubitrilo1 == true || sacubitrilo2 == true">

                <div class="item item-avatar item-icon-left" style="text-align: center; background-color: #8BCA53;">
                    <i class="icon ion-ios-information-outline"></i>
                    <b>Has chequeado correctamente las dosis y titulación.</b>
                </div>

                <div class="button-bar" style="padding: 10px;">
                    <a class="button button-calm button2" ui-sref="menu.2-icfer-03-2" >Continuar</a>
                </div>
            </div>

        </div>


        <div class="spacer" style="width: 300px; height: 60px;"></div>

    </ion-content>

</ion-view>

