            <div class="item item-divider item-icon-left">
                <i class="icon ion-ios-help-outline"></i>
                ARM
            </div>
            <div ng-controller="modalesVentanas" class="item item-text-wrap" ng-click="openModal('ctabla-2-11')">
                Recomendaciones de uso de ARM en ICFEr
            </div>
            <div ng-controller="2-12" class="item item-text-wrap titulacion" ng-click="openModal()" >
                <i class="icon ion-android-checkmark-circle"></i> Titulación ARM
            </div>
