            <div class="item item-divider item-icon-left">
                <i class="icon ion-ios-help-outline"></i>
                Sacubitrilo/valsartán
            </div>
            <div ng-controller="modalesVentanas" class="item item-text-wrap" ng-click="openModal('ctabla-2-21')">
                Recomendaciones de uso de sacubitrilo/valsartan en ICFEr
            </div>
            <div ng-controller="c2-22" class="item item-text-wrap titulacion" ng-click="openModal()">
                <i class="icon ion-android-checkmark-circle"></i> Dosis de inicio y Titulación
            </div>
            <div ng-controller="modalesVentanas" class="item item-text-wrap" ng-click="openModal('ctabla-2-22-1')">
                Manejo de la hipotensión arterial
            </div>
            <div ng-controller="modalesVentanas" class="item item-text-wrap" ng-click="openModal('ctabla-2-22-2')">
                Manejo de la hiperpotasemia
            </div>
            <div ng-controller="modalesVentanas" class="item item-text-wrap" ng-click="openModal('ctabla-2-23')">
                Contraindicaciones para el uso de sacubitrilo/valsartan
            </div>