<ion-view title="Módulos" id="page1">

    <ion-content padding="false" class="has-header">

        <div class="contenedor-calc">
            <a ui-sref="menu.01"><div class="calculadora cal-1">Diagnóstico. Gestión integral</div></a>
            <a ui-sref="menu.02-01"><div class="calculadora cal-2">Objetivos y control global</div></a>
            <a ui-sref="menu.03-01"><div class="calculadora cal-3">Tratamiento antidiabético</div></a>
            <a ui-sref="menu.04-01"><div class="calculadora cal-4">Situaciones especiales</div></a>
        </div>

    </ion-content>

</ion-view>