

<ion-view title="Objetivo y control global" id="page7">

    <div class="bar bar-subheader cal-2">
        <h2 class="title blanco">Estilo de vida</h2>
    </div>


    <ion-content padding="false" class="has-header" style="background-color:  #EEEEEE;" ng-controller="testCtrl">
        <div class="spacer" style="width: 300px; height: 60px;"></div>
        
        <div class="titulo-cal" style="text-align: center">Ejercicio físico moderado-intenso al menos 150 min/semana</div>


        <div class="card" style="margin: 10px;">
            <div class="item item-divider item-icon-left">
                <i class="icon ion-ios-help-outline"></i>
                Consultas
            </div>
            <div ng-controller="modalesVentanas" ng-click="openModal('tabla-2-3')"class="item item-text-wrap">
                Aspectos clave de los programas de ejercicio en pacientes con DM2
            </div>
            <div ng-controller="modalesVentanas" ng-click="openModal('tabla-2-4')"class="item item-text-wrap">
                Consideraciones especiales del ejercicio en pacientes en tratamiento con insulina o con mal control metabólico
            </div>
        </div>

        <div class="spacer" style="width: 300px; height: 0px;"></div>



    </ion-content>


</ion-view>
