

<ion-view title="Objetivo y control global" id="page7">

    <div class="bar bar-subheader cal-2">
        <h2 class="title blanco">Estilo de vida</h2>
    </div>


    <ion-content padding="false" class="has-header" style="background-color:  #EEEEEE;" ng-controller="testCtrl">
        <div class="spacer" style="width: 300px; height: 60px;"></div>
        
        <div class="titulo-cal" style="text-align: center">No fumar<br>Evitar tabaquismo pasivo</div>


        <div class="card" style="margin: 10px;">
            <div class="item item-divider item-icon-left">
                <i class="icon ion-ios-help-outline"></i>
                Consultas
            </div>
            <div ng-controller="modalesVentanas" ng-click="openModal('tabla-2-5')"class="item item-text-wrap">
                Características de la intervención breve en el abordaje del tabaquismo
            </div>
            <div ng-controller="modalesVentanas" ng-click="openModal('tabla-2-7')"class="item item-text-wrap">
                Reglas de las 5A en el abordaje del tabaquismo
            </div>
            <div ng-click=""  ui-sref="menu.figura-2-3" class="item item-text-wrap titulacion">
                <i class="icon ion-android-checkmark-circle"></i> Estrategia para el cese del tabaquismo
            </div>
        </div>

        <div class="spacer" style="width: 300px; height: 0px;"></div>



    </ion-content>


</ion-view>
