

<ion-view title="Objetivo y control global" id="page7">

    <div class="bar bar-subheader cal-2">
        <h2 class="title blanco">Control glucémico</h2>
    </div>


    <ion-content padding="false" class="has-header" style="background-color:  #EEEEEE;" ng-controller="testCtrl">
        <div class="spacer" style="width: 300px; height: 60px;"></div>
        
        <div class="titulo-cal" style="text-align: center">HbA1c <7%</div>

        <div class="card" style="margin: 10px;">
            <div class="item item-divider item-icon-left">
                <i class="icon ion-ios-help-outline"></i>
                Consultas
            </div>
            <div ng-controller="modalesVentanas" ng-click="openModal('tabla-2-13')"class="item item-text-wrap">
                Objetivos de control glucémico
            </div>
            <div ng-controller="modalesVentanas" ng-click="openModal('tabla-2-14')"class="item item-text-wrap">
                Correlación entre los valores de HbA1c y la glucemia media estimada
            </div>
            <div ng-controller="modalesVentanas" ng-click="openModal('tabla-2-15')"class="item item-text-wrap">
                Recomendaciones de control de automedidas de glucemia<sup>a</sup>
            </div>
            <div ng-controller="modalesVentanas" ng-click="openModal('figura-2-6')"class="item item-text-wrap">
                Objetivos de control glucémico individualizado
            </div>
        </div>

        <div class="card" class="table-bordered">
            <div class="button-bar" style="padding: 10px;">
                <a  class="button button-calm button2" ng-click="myGoBack()">CONTINUAR</a>
            </div>
        </div>
        
        <div class="spacer" style="width: 300px; height: 0px;"></div>




    </ion-content>


</ion-view>
